<div class=container>
dasdasdas
</div>

<div class="container align-middle my-5">
<h1>Add your new Cocktail</h1>
  <div class="col-8">
    <%= simple_form_for [@cocktail] do |f| %>
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden, class: "btn btn-ghost" %>
  </div>
    <%= f.submit "Save", class: "btn btn-ghost" %>
  <% end %>
</div>
